<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThuHocPhi.Properties.Settings.btl_9ConnectionString"
            connectionString="Data Source=CORZSH10\SQLEXPRESS;Initial Catalog=btl_9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>